<li>
	{{name}}

	<button class="change-eaten" data-id="{{id}}" data-new-eaten="{{eaten}}">
		{{#if eaten}}Order another!{{else}}Devour!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Clear this plate!</button>
</li>
