<li>
	{{name}}

	<button class="change-eaten" data-id="{{id}}" data-new-eaten="{{eaten}}">
		{{#if eaten}}Devour!{{else}}Make again!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
